# **STINTSY S11 Group 1 Major Course Output**
Members:<br>
Andres, Donielle<br>
Limjoco, Jared Ethan<br>
Quinzon, Christopher Josh<br>
Uy, Shane Owen

## **Section 1: Introduction to the problem/task and dataset**

The garment industry plays a crucial role in today's industrial globalization as this labor-intesive sector relies heavily manual processes and in order to meet the global demands for clothing and textile products, the industry must ensure efficient production and delivery of the employees of garment manufacturing companies. Decision-makers or those of high positions in the garment industry makes this happen by systematically monitoring, analyzing, and predicting the productivity performance of the different teams that work within their factories. This makes it possible for companies in the industry to gain a competitive advantage in the market. <br><br>

In order to systematically monitor, analyze, and predict the productivity performance of the teams in factories, a comprehensive dataset has been built, covering important attributes related to the garment manufacturing process and the productivity of employees. This dataset serves as a valuable resource for researchers, data scientists, and industry professionals to understand the industry on a deeper level by looking at different factors contributing to the productivity of the industry. <br><br>

This project's primary objective is to predict and analyze the productivity performance of working teams in garment manufacturing companies. The target of this project is to develop models and generate insights that can predict the productivity of the teams in the garment industry based on the provided attributes. Being able to do so will greatly help decision-makers to make data-driven decision to improve the overall efficiency and competitiveness of their garment manufacturing operations

<br><br>
To be more specific, the objective of this project is to predict and analyze the productivity performance of working teams, considering the incentives given to them. 
- Which team was the most productive on Mondays and Fridays per Quarter
- Which team was able to reach their target productivity based on the actual productivity

## **Section 2: Description of the dataset**

The Garment Dataset was compiled to assess the production of the garment company by analyzing the productivity of employees across various departments. The data was sourced from the data analysis of the performance records of the Garment Company, extracting information related to garment productions and the actual productivity rate compared to the targeted productivity rate. A similar study by Balla et al. (2021), utilized Machine Learning techniques to be able to predict the productivity rate of garment employees based on the Garment Dataset by analyzing and identifying the patterns that are not apparent in statistical methods. The insights from this study can potentially enhance the efficiency of garment workers, leading to a boost in the overall profitability of the clothing industry. 
<br><br>
The Garment Dataset used consists of 1197 instances and 15 features. The features include date, day, quarter, department, team (number), number of workers, number of style changes, targeted productivity, SMV, WIP, overtime, incentive, idle time, idle men, and actual productivity. Each instance in the dataset represents a specific garment team and includes values for each of the 15 features. Each feature is discussed below:

**Garments Features** <br>
- date – Date in MM-DD-YYYY
- quarter – A portion of the month. A month was divided into four quarters.
- department – Department associated with the instance.
- day – Day of the week
- team – Team number associated with the instance.
- targeted_productivity – Targeted productivity set by the authority for each team for each day.
- smv – Standard Minute Value; the allocated time for a task
- wip – Work in progress. Includes the number of unfinished items for products.
- over_time – Represents the amount of overtime by each team in minutes.
- incentive – Represents the amount of financial incentive that enables or motivates a particular course of action.
- idle_time – The amount of time when the production was interrupted due to several reasons.
- idle_men – The number of workers who were idle due to production interruption.
- no_of_style_change – Number of changes in the style of a particular product
- no_of_workers – Number of workers in each team
- actual_productivity – The actual % of productivity that was delivered by the workers. It ranges from 0-1.

## **Section 3: List of requirements**

List all the Python libraries and modules that you used.

In [1]:
# pandas dataframe
import pandas as pd

# numpy library
import numpy as np

# 
from sklearn import preprocessing, model_selection

## **Section 4: Data preprocessing and cleaning**

Perform the necessary steps before using the data. In this section of the notebook, please take note of the following: <br>

- If needed, perform preprocessing techniques to transform the data to the appropriate representation. This may include binning, log transformations, conversion to one-hot encoding, normalization, standardization, interpolation, truncation, and feature engineering, among others. There should be a correct and proper justification of the use of each preprocessing technique used in the project.
- Make sure that the data is clean, especially features that are used in the project. This may include checking for misrepresentations, checking the data type, dealing with missing data, dealing with duplicate data, and dealing with outliers, among others. There should be a correct and proper justification of the application (or non-application) of each data cleaning method used in the project. Clean only the variables utilized in the study

In [2]:
df = pd.read_csv('garments.csv')

print(df.info())
df.head(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 15 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date                   1197 non-null   object
 1   quarter                1197 non-null   object
 2   department             1197 non-null   object
 3   day                    1197 non-null   object
 4   team                   1197 non-null   int64
 5   targeted_productivity  1197 non-null   float64
 6   smv                    1197 non-null   float64
 7   wip                    691 non-null    float64
 8   over_time              1197 non-null   int64
 9   incentive              1197 non-null   int64
 10  idle_time              1197 non-null   float64
 11  idle_men               1197 non-null   int64
 12  no_of_style_change     1197 non-null   int64
 13  no_of_workers          1197 non-null   float64
 14  actual_productivity    1197 non-null   float64
dtypes: float64(6), int64(5), object(4)
memory usage: 140.4+ KB
None

,date,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,01/01/2015,Quarter1,sweing,Thursday,8,0.80,26.16,1108.0,7080,98,0.0,0,0,59.0,0.940725
1,01/01/2015,Quarter1,finishing,Thursday,1,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.886500
2,01/01/2015,Quarter1,sweing,Thursday,11,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
3,01/01/2015,Quarter1,sweing,Thursday,12,0.80,11.41,968.0,3660,50,0.0,0,0,30.5,0.800570
4,01/01/2015,Quarter1,sweing,Thursday,6,0.80,25.90,1170.0,1920,50,0.0,0,0,56.0,0.800382
5,01/01/2015,Quarter1,sweing,Thursday,7,0.80,25.90,984.0,6720,38,0.0,0,0,56.0,0.800125
6,01/01/2015,Quarter1,finishing,Thursday,2,0.75,3.94,NaN,960,0,0.0,0,0,8.0,0.755167
7,01/01/2015,Quarter1,sweing,Thursday,3,0.75,28.08,795.0,6900,45,0.0,0,0,57.5,0.753683
8,01/01/2015,Quarter1,sweing,Thursday,2,0.75,19.87,733.0,6000,34,0.0,0,0,55.0,0.753098
9,01/01/2015,Quarter1,sweing,Thursday,1,0.75,28.08,681.0,6900,45,0.0,0,0,57.5,0.750428

In [58]:
df_copy = df

# remove null values
df_copy['wip'] = df_copy['wip'].fillna(0)
df_copy['wip'] = df_copy['wip'].astype(np.int64)

# replace misspelled words and remove whitespace
df_copy['department'] = df_copy['department'].str.replace('sweing', 'sewing')
df_copy['department'] = df_copy['department'].str.strip()

# replace no of workers from float to int
df_copy['no_of_workers'] = df_copy['no_of_workers'].astype(np.int64)

# sets values of actual productivity that are higher than 1% to 1%
df_copy['actual_productivity'] = np.where(df_copy['actual_productivity'] > 1.0, 1.0, df_copy['actual_productivity'])

# drop date column (as question only needs per quarter basis)
df_copy = df.drop(columns = ['date'])

# encode quarter into numerals 
#(0 : Quarter 1, 1: Quarter 2, 2: Quarter 3, 3: Quarter 4)
label_enc = preprocessing.LabelEncoder()
label_enc.fit_transform(df_copy['quarter'])
df_copy['quarter'] = label_enc.transform(df_copy['quarter'])

#(0 : finishing, 1: sewing)
label_enc = preprocessing.LabelEncoder()
label_enc.fit_transform(df_copy['department'])
df_copy['department'] = label_enc.transform(df_copy['department'])


df_copy.head(1000)

# changes so far
# - removed null values from work in progress
# - replaced "sweing" misspelling to "sewing"
# - removed "Quarter 5" and changed it to "Quarter 4" | reverted this since the dataset actually has quarter 5 
# - replaced "number of workers" from float to int type
# - removed actual productivity values higher than 1% and changed it to 1%
# - dropped date column (since we are only looking at quarter and day of the week productivity)
# - label encoded quarters into numerals

,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,0,1,Thursday,8,0.80,26.16,1108,7080,98,0.0,0,0,59,0.940725
1,0,0,Thursday,1,0.75,3.94,0,960,0,0.0,0,0,8,0.886500
2,0,1,Thursday,11,0.80,11.41,968,3660,50,0.0,0,0,30,0.800570
3,0,1,Thursday,12,0.80,11.41,968,3660,50,0.0,0,0,30,0.800570
4,0,1,Thursday,6,0.80,25.90,1170,1920,50,0.0,0,0,56,0.800382
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,1,Sunday,2,0.70,30.33,254,1800,0,0.0,0,0,58,0.683551
996,0,1,Sunday,11,0.80,11.61,347,0,50,4.0,20,0,57,0.682433
997,0,0,Sunday,4,0.60,3.94,0,960,0,0.0,0,0,8,0.673083
998,0,0,Sunday,10,0.70,2.90,0,3360,0,0.0,0,0,8,0.664583
999,0,1,Sunday,4,0.60,26.66,692,6840,23,0.0,0,0,57,0.600240

## **Section 5: Exploratory data analysis**

Perform exploratory data analysis comprehensively to gain a good understanding of your dataset. <br>In this section of the notebook, you must present relevant numerical summaries and
visualizations. Make sure that each code is accompanied by a brief explanation. The whole process should be supported with verbose textual descriptions of your procedures and findings.

The next part of this notebook involves performing Exploratory Data Analysis (EDA) in order to investigate, understand, and visualize the garments dataset. This part will include essential information on the format and metadata of the dataset, how the dataset was collected, relationships and visualizations of the features.

### Format and Metadata
Each observation/row represents a set of attributes that may contribute to the overall productivity of a single group of workers under a department for a certain day and quarter.

In [46]:
df_copy.head(1)

,quarter,department,day,team,targeted_productivity,smv,wip,over_time,incentive,idle_time,idle_men,no_of_style_change,no_of_workers,actual_productivity
0,0,1,Thursday,8,0.8,26.16,1108,7080,98,0.0,0,0,59,0.940725

###   Data type  for Each Feature

In [60]:
features_info = df_copy.dtypes.reset_index().rename(columns={0: 'data_type'})
features_info.columns = ['feature', 'data_type']

features_info

                  feature data_type  min_value  max_value
0                 quarter     int32        NaN        NaN
1              department     int32        NaN        NaN
2                     day    object        NaN        NaN
3                    team     int64        NaN        NaN
4   targeted_productivity   float64        NaN        NaN
5                     smv   float64        NaN        NaN
6                     wip     int64        NaN        NaN
7               over_time     int64        NaN        NaN
8               incentive     int64        NaN        NaN
9               idle_time   float64        NaN        NaN
10               idle_men     int64        NaN        NaN
11     no_of_style_change     int64        NaN        NaN
12          no_of_workers     int64        NaN        NaN
13    actual_productivity   float64        NaN        NaN

### Range/Unique Values of Each Feature:
- date: 01/01/2015 - 2/28/2015
- quarter: 0 - 4
- department: 0 - 1
- day: [Sunday, Monday, Tuesday, Wednesday, Thursday, Saturday]
- team: 1 - 12
- targeted_productiviy: 0.07 - 0.8
- smv: 2.9 - 54.56
- wip: 0 - 23122
- over_time: 0 - 25920
- incentive: 0 - 3600 
- idle_time: 0.0 - 300.0
- idle_men: 0 - 45
- no_of_style_change: 0 - 2
- no_of_workers: 2 - 89
- actual_productivity: 0.233705476 - 1.0

In [34]:
#splitting of training and testing data (80% Train 10% Validate 10% Test)
from sklearn.model_selection import train_test_split

## **Section 6: Model training**

Use machine learning models to accomplish your chosen task for the dataset. In this section of the notebook, please take note of the following:
- The project should train and evaluate at least 3 different kinds of machine learning models.
- Each model should be appropriate in accomplishing the chosen task for the dataset. There should be a clear and correct justification on the use of each machine learning model.
- Make sure that the values of the hyperparameters of each model are mentioned. At the minimum, the optimizer, the learning rate, and the learning rate schedule should be discussed per model.
- The report should show that the models are not overfitting nor underfitting.

## **Section 7: Hyperparameter tuning**

Perform grid search or random search to tune the hyperparameters of each model. In this section of the notebook, please take note of the following:<br>
- Make sure to elaborately explain the method of hyperparameter tuning.
- Explicitly mention the different hyperparameters and their range of values. Show the corresponding performance of each configuration.
- Report the performance of all models using appropriate evaluation metrics and visualizations.
- Properly interpret the result based on relevant evaluation metrics.

## **Section 8: Model selection**

Present a summary of all model configurations. Include each algorithm and the best set of values for its hyperparameters. Identify the best model configuration and discuss its advantage over other configurations.

## **Section 9: Insights and conclusions**

Clearly state your insights and conclusions from training a model on the data. Why did some models produce better results? Summarize your conclusions to explain the performance of the models. Discuss recommendations to improve the performance of the model.

## **Section 10: References**